

<div id="legend">
    <span id="datetime" class="legend-item"></span>
</div>
<div id="chart_container">
    <div id="y_axis"></div>
    <div id="chart"></div>
</div>




{{#players}}

    <div class="player">
        <figure>
            <img src="{{gravatar}}?s=480" alt="{{name}}"/>
            <figcaption>{{name}}</figcaption>
        </figure>

        <dl>
            <dt>Point Differential</dt>
            <dd>{{stats.current.pointDifferential}}</dd>

            <dt>Record ({{percentage stats.current.winPercentage}}</dt>
            <dd>{{stats.current.wins}} wins {{stats.current.losses}} losses</dd>

            <dt>Points Per Game</dt>
            <dd>{{decimal stats.current.pointsPerGame}}</dd>
        </dl>

    </div>



{{/players}}

<p>As of {{timestamp}}</p>


<script src="lodash.js"></script>
<script src="d3.js"></script>
<script src="rickshaw.js"></script>
<script src="moment.js"></script>
<script src="presentation.js"></script>