

<div id="legend">
    <span id="datetime" class="legend-item"></span>
</div>
<div id="chart_container">
    <div id="y_axis"></div>
    <div id="chart"></div>
</div>




{{#players}}

    <table class="table table-condensed table-stats table-bordered">
        <thead>
        <tr>
            <td style="width: 80px; height:80px; padding: 0;"><img src="{{gravatar}}?s=240" style="display:block"></td>
            <td colspan="10">
                <h1>{{name}} <small style="margin-left: 15px;">Elo Rank {{rank}}</small></h1>
            </td>
        </tr>
        <tr>
            <th></th>
            <th>Games Played</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Total Aces</th>
            <th>Total Points</th>
            <th>Aces Allowed</th>
            <th>Points Allowed</th>
            <th>Win Percentage</th>
            <th>Points Per Game</th>
            <th>Point Differential</th>
        </tr>
        </thead>
        <tbody>
        <tr class="highlighted">
            <th>Career</th>
            <td class="text-center">{{stats.current.games}}</td>
            <td class="text-center">{{stats.current.wins}}</td>
            <td class="text-center">{{stats.current.losses}}</td>
            <td class="text-center">{{stats.current.aces}}</td>
            <td class="text-center">{{stats.current.points}}</td>
            <td class="text-center">{{stats.current.opponentAces}}</td>
            <td class="text-center">{{stats.current.opponentPoints}}</td>
            <td class="text-center">{{percentage stats.current.winPercentage}}</td>
            <td class="text-center">{{decimal stats.current.pointsPerGame}}</td>
            <td class="text-center">{{numeric stats.current.pointDifferential}}</td>
        </tr>
        {{#opponents}}
            <tr>
                <th>{{opponentName}}</th>
                <td class="text-center">{{games}}</td>
                <td class="text-center">{{wins}}</td>
                <td class="text-center">{{losses}}</td>
                <td class="text-center">{{aces}}</td>
                <td class="text-center">{{points}}</td>
                <td class="text-center">{{opponentAces}}</td>
                <td class="text-center">{{opponentPoints}}</td>
                <td class="text-center">{{percentage winPercentage}}</td>
                <td class="text-center">{{decimal pointsPerGame}}</td>
                <td class="text-center">{{numeric pointDifferential}}</td>
            </tr>
        {{/opponents}}
        </tbody>
    </table>


{{/players}}

<p>As of {{timestamp}}</p>


<script src="lodash.js"></script>
<script src="d3.js"></script>
<script src="rickshaw.js"></script>
<script src="moment.js"></script>
<script src="presentation.js"></script>