{{#players}}
    <table class="table table-condensed table-stats table-bordered">
        <caption>{{name}}</caption>
        <thead>
            <tr>
                <th></th>
                <th>Games Played</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Total Aces</th>
                <th>Total Points</th>
                <th>Aces Allowed</th>
                <th>Points Allowed</th>
                <th>Win Percentage</th>
                <th>Points Per Game</th>
                <th>Point Differential</th>
            </tr>
        </thead>
        <tbody>
            <tr class="highlighted">
                <th>Career</th>
                <td class="text-center">{{stats.games}}</td>
                <td class="text-center">{{stats.wins}}</td>
                <td class="text-center">{{stats.losses}}</td>
                <td class="text-center">{{stats.aces}}</td>
                <td class="text-center">{{stats.points}}</td>
                <td class="text-center">{{stats.opponentAces}}</td>
                <td class="text-center">{{stats.opponentPoints}}</td>
                <td class="text-center">{{percentage stats.winPercentage}}</td>
                <td class="text-center">{{decimal stats.pointsPerGame}}</td>
                <td class="text-center">{{numeric stats.pointDifferential}}</td>
            </tr>
        {{#opponents}}
          <tr>
              <th>{{opponentName}}</th>
              <td class="text-center">{{games}}</td>
              <td class="text-center">{{wins}}</td>
              <td class="text-center">{{losses}}</td>
              <td class="text-center">{{aces}}</td>
              <td class="text-center">{{points}}</td>
              <td class="text-center">{{opponentAces}}</td>
              <td class="text-center">{{opponentPoints}}</td>
              <td class="text-center">{{percentage winPercentage}}</td>
              <td class="text-center">{{decimal pointsPerGame}}</td>
              <td class="text-center">{{numeric pointDifferential}}</td>
          </tr>
        {{/opponents}}
        </tbody>
    </table>
{{/players}}