<div id="header" class="header">
  <div id="chart_container">
    <div id="y_axis"></div>
    <div id="chart"></div>
  </div>
  <div id="slider"></div>
  <div id="datetime">&nbsp;</div>
</div>

<div class="players">
  {{#players}}
    <div class="player" id="player-{{name}}">
      <img class="player__photo" src="{{gravatar}}?s=240">
      <span id="name-{{name}}" class="player__name">{{name}}</span>

      <div class="data-pairs">
        <div class="data-pair player__rank">
          <span class="data-pair__label">Rank</span>
          <span id="rank-{{name}}" class="data-pair__value">{{rank}}</span>
        </div>

        <div class="data-pair player__record">
          <span class="data-pair__label">Record</span>
          <span class="data-pair__value">
            {{numeric stats.career.wins}} / {{numeric stats.career.losses}}
            <span class="muted">{{percentage stats.career.winPercentage}}</span>
          </span>

          <div class="data-pair__value">
            Streak: <span style="{{stats.streak.style}};">{{numeric stats.streak.count}} {{stats.streak.type}}</span>
          </div>
        </div>
      </div>

      <div id="player-stats-{{name}}" class="stats-dialog" style="display: none;">
        <table class="table table-condensed table-stats table-bordered">
          <thead>
          <tr>
            <th></th>
            <th>Games Played</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Total Aces</th>
            <th>Total Points</th>
            <th>Aces Allowed</th>
            <th>Points Allowed</th>
            <th>Win Percentage</th>
            <th>Avg Points Per Game</th>
            <th>Point Differential</th>
          </tr>
          </thead>
          <tbody>
          <tr class="highlighted">
            <th>Career</th>
            <td class="text-center">{{numeric stats.career.total}}</td>
            <td class="text-center">{{numeric stats.career.wins}}</td>
            <td class="text-center">{{numeric stats.career.losses}}</td>
            <td class="text-center">{{numeric stats.career.aces}}</td>
            <td class="text-center">{{numeric stats.career.points}}</td>
            <td class="text-center">{{numeric stats.career.acesAllowed}}</td>
            <td class="text-center">{{numeric stats.career.pointsAllowed}}</td>
            <td class="text-center">{{percentage stats.career.winPercentage}}</td>
            <td class="text-center">{{decimal stats.career.avgPointsPerGame}}</td>
            <td class="text-center">{{numeric stats.career.pointDifferential}}</td>
          </tr>
          {{#opponents}}
            <tr>
              <th>{{opponentName}}</th>
              <td class="text-center">{{games}}</td>
              <td class="text-center">{{wins}}</td>
              <td class="text-center">{{losses}}</td>
              <td class="text-center">{{aces}}</td>
              <td class="text-center">{{points}}</td>
              <td class="text-center">{{opponentAces}}</td>
              <td class="text-center">{{opponentPoints}}</td>
              <td class="text-center">{{percentage winPercentage}}</td>
              <td class="text-center">{{decimal pointsPerGame}}</td>
              <td class="text-center">{{numeric pointDifferential}}</td>
            </tr>
          {{/opponents}}
          </tbody>
        </table>

      </div>

    </div>
  {{/players}}
</div>

<div class="movers">
  <h2>Recent Movers</h2>
  <table>
    <tr></tr>
    {{#movers}}
      <tr>
        <td>{{playerName}}</td>
        <td class="elo-change-value" style="{{style}}">{{eloChange}}</td>
      </tr>
    {{/movers}}
  </table>
</div>

<p class="timestamp">As of {{timestamp}}</p>

<script src="lodash.js"></script>
<script src="d3.js"></script>
<script src="rickshaw.js"></script>
<script src="moment.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>
  jQuery.noConflict();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script src="presentation.js"></script>
<script src="modal.js"></script>
